body{
    margin: 0;
    padding: 0;
  }
  
nav .navbar-brand{
  font-family: 'Lato', sans-serif;
  font-size: 24px;
}

nav .nav-item .nav-link{
  font-family: 'Kalam', cursive;
  font-size: 20px;
}


p{
  font-family: 'Kalam', sans-serif;
  font-size: 20px;
}


.zoom{
  transition: transform .7s;
}

.zoom:hover{
  transform: scale(1.2);
}
  
.menu-img{
  display: block;
  margin: auto;
  height: 125px;
  width: 125px;
}

.special-menu-img{
  display: block;
  margin: auto;
  height: 150px;
  width: 150px;
}

.bg-navbar {
    background-color: #2263a8 !important;
}

.menu-title{
  font-family: 'Kalam', sans-serif;
  font-size: 2.5rem;
}

.menu-option-title{
  font-family: 'Kalam', sans-serif;
  font-size: 1.7rem;
}