<div class="mx-3">
    <div class="row">
        <div class="px-3 py-2 col-10 my-3 offset-md-1 shadow">
           <h1 class="text-center">R-SISGAL20</h1>
        </div>
    </div>
    <div class="row my-5">
        <div class="col-3 offset-1 mx-auto">
            <div class="card">
                <div class="card-body">
                    <a href="/sisgal/api/v1.0/warehouse-list">
                        <img src='/almacen.png' alt="almacen" class="menu-img">
                    </a>
                    <hr />
                    <h5 class="text-center menu-option-title">Warehouse</h5>
                </div>
            </div>
        </div>
        <div class="col-3 mx-auto">
            <div class="card">
                <div class="card-body">
                   <a href="/sisgal/api/v1.0/list-products">
                        <img src='/articulos.png' alt="almacen" class="menu-img">
                    </a>
                    <hr />
                    <h5 class="text-center menu-option-title">Products</h5> 
                </div>
            </div>
        </div>
        <div class="col-3 offset-1 mx-auto">
            <div class="card">
                <div class="card-body">
                    <a href="/sisgal/api/v1.0/inventory">
                        <img src='/inventario.png' alt="almacen" class="menu-img">
                    </a>
                    <hr />
                    <h5 class="text-center menu-option-title">Inventory</h5> 
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-3 offset-1 mx-auto">
            <div class="card">
                <div class="card-body">
                    <a href="/sisgal/api/v1.0/purchases">
                        <img src='/importacion.png' alt="almacen" class="menu-img">
                    </a>
                    <hr />
                    <h5 class="text-center menu-option-title">Purchases</h5>
                </div>
            </div>
        </div>
        <div class="col-3 mx-auto">
            <div class="card">
                <div class="card-body">
                   <a href="/sisgal/api/v1.0/list-products">
                        <img src='/gestion.png' alt="almacen" class="menu-img">
                    </a>
                    <hr />
                    <h5 class="text-center menu-option-title">Management</h5> 
                </div>
            </div>
        </div>
        <div class="col-3 offset-1 mx-auto">
            <div class="card">
                <div class="card-body">
                    <a href="/sisgal/api/v1.0/inventory">
                        <img src='/traslados.png' alt="almacen" class="menu-img">
                    </a>
                    <hr />
                    <h5 class="text-center menu-option-title">Transfers</h5> 
                </div>
            </div>
        </div>
    </div>

</div>