<div class="mx-3">
    <div class="row">
        <div class="px-3 py-2 col-10 offset-1 col-md-10 offset-md-1 my-3 offset-md-1 shadow">
           <h1 class="text-center menu-title">R-SISGAL - Option Menu</h1>
        </div>
    </div>
    <div class="row my-4">
        <div class="col-12 col-sm-12 col-md-3 col-lg-3 offset-1 mx-auto my-1">
            <div class="card shadow">
                <div class="card-body">
                    <a href="/sisgal/api/v1.0/warehouse-list">
                        <img src='/almacen.png' alt="almacen" class="menu-img">
                    </a>
                    <hr />
                    <h5 class="text-center menu-option-title">Warehouse</h5>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-3 col-lg-3 mx-auto my-1">
            <div class="card shadow">
                <div class="card-body">
                   <a href="/sisgal/api/v1.0/list-products">
                        <img src='/articulos.png' alt="almacen" class="menu-img">
                    </a>
                    <hr />
                    <h5 class="text-center menu-option-title">Products</h5> 
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-3 col-lg-3 offset-1 mx-auto my-1">
            <div class="card shadow">
                <div class="card-body">
                    <a href="/sisgal/api/v1.0/inventory">
                        <img src='/inventario.png' alt="almacen" class="menu-img">
                    </a>
                    <hr />
                    <h5 class="text-center menu-option-title">Inventory</h5> 
                </div>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-12 col-sm-12 col-md-3 col-lg-3 offset-1 mx-auto my-1">
            <div class="card shadow">
                <div class="card-body">
                    <a href="/sisgal/api/v1.0/purchases">
                        <img src='/importacion2.png' alt="almacen" class="menu-img">
                    </a>
                    <hr />
                    <h5 class="text-center menu-option-title">Purchases</h5>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-3 col-lg-3 mx-auto my-1">
            <div class="card shadow">
                <div class="card-body">
                   <a href="/sisgal/api/v1.0/list-products">
                        <img src='/gestion.png' alt="almacen" class="menu-img">
                    </a>
                    <hr />
                    <h5 class="text-center menu-option-title">Management</h5> 
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-3 col-lg-3 offset-1 mx-auto my-1">
            <div class="card shadow">
                <div class="card-body">
                    <a href="/sisgal/api/v1.0/inventory">
                        <img src='/traslados.png' alt="almacen" class="menu-img">
                    </a>
                    <hr />
                    <h5 class="text-center menu-option-title">Transfers</h5> 
                </div>
            </div>
        </div>
    </div>

</div>