<nav class="navbar navbar-expand-lg navbar-dark bg-navbar">
  <a class="navbar-brand" href="/index">R-SISGAL20 <i class="fas fa-store"></i></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active mx-2">
        <a href="/libros/lista" class="nav-link">Signin <i class="fas fa-door-open"></i></a>
      </li>
      <li class="nav-item active mx-2">
        <a href="/libros/lista" class="nav-link">Signup <i class="fas fa-user-plus"></i></a>
      </li>
      {{!-- ACA PUEDES AGREGAS MAS ENLACES, SEGUN VEAS LA NECESIDAD --}}
    </ul>
    
  </div>
</nav>